# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj
*.filters
*.cmake
*.sln
CMakeCache.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/data
bin/
/build
x64/
CMakeFiles/
/thirdparty/mimalloc
/thirdparty/CMakeLists.txt

